NODE_ENV=development

# Backend Container - External URL to API
PUBLIC_WORKER_URL=http://api.app.company.com

# Prisma - Default docker-compose.storage
DATABASE_URL=postgres://postgres:postgres@database:5432/briefkasten

# better-auth
ORIGIN=https://app.company.com
BETTER_AUTH_URL=https://app.company.com

# openssl rand -base64 33
BETTER_AUTH_SECRET=
PROTOCOL_HEADER=x-forwarded-proto
HOST_HEADER=x-forwarded-host
ADDRESS_HEADER=x-forwarded-for

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Edge TTS (server-side text-to-speech)
EDGE_AI_KEY=
