# REQUIRED - Prisma / Supabase
DATABASE_URL=postgres://<USERNAME>:<PLAIN_TEXT_PASSWORD>@<ACCESS_HOST_URL>/<DATABASE_NAME>

# REQUIRED - NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Run `openssl rand -hex 32`

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

# Optional - Only required if you want to use the Email Provider for NextAuth.js
SMTP_SERVER=
SMTP_FROM=

# Optional - Supabase
# Only required if you want to use cloud object storage for Bookmark screenshots
SUPABASE_KEY=
SUPABASE_URL=
SUPABASE_BUCKET_ID=
